body {
  background-color: #150031;
  color: white;
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
.mobile-header-content {
  padding: 1.25em 2em 2em 2em;
}

.mobile-header-message{
position: absolute;
bottom: 16px;
}

.mobile-header-title {
  font-size: 20px;
}

.mobile-header-text {
  font-size: 14px;
  width: 85%;
}


.mobile-header-logo {
  height: 3.25em;
}

.mobile-header {
  width: 100vw;
  height: 33vh;
  background-image: url("./header-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #2d4179;
  border-radius: 0 0 15px 15px;
  position: fixed;
  top: 0;
  z-index: 99;
  filter: drop-shadow(0 6mm 4mm rgba(0, 0, 0, 0.15));
}

.instructions {
  font-family: montserrat, sans-serif;
  color: #6d6777;
  font-size: 12px;
  margin-left: 16px;
  margin-bottom: 22px;
}

.giveaways {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 15px;
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  padding: 8px 16px !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: white !important;
  /* color: #160131 !important; */
}

.MuiBottomNavigation-root {
  filter: drop-shadow(0 -6mm 4mm rgba(0, 0, 0, 0.15));
  border-radius: 15px 15px 0 0;
}

.content {
  margin-top: 33vh;
  padding-top: 2px;
}

.giveaway-grid {
  /* margin-top: 8px !important; */
  margin-bottom: 10vh !important;
  overflow-x: hidden;
}
/* .city {
  width: 100%;
} */

video#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

form > input {
  width: 90%;
  margin: 5% auto;
  /* margin-top: 5%; */
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  padding: 10px;
  color: white;

}

form {
  padding: 20px 25px 20px 25px;
  background-color: #271c52;
  color: white;
}

input[type="submit"] {
  background-color: white;
  color: #271c52;
  border-radius: 10px;
  width: 100% !important;
  border: none;
}

.giveaway-card {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #271c52;
  border-radius: 15px;
}

.giveaway-card-img {
  float: left;
  height: 100%;
  border-radius: 15px;
}

.giveaway-card-text{
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  float: left;
  width: 50%;
  padding-left: 16px;
  margin-left: 150px;
}

.giveaway-card-text-title {
  margin: 8px 0;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

.giveaway-card-text-date {
  margin: 8px 0;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.5;
}

.giveaway-card-text-details {
  margin: 8px 0;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.mobile-services-header{
  width: 100vw;
  height: 33vh;
  background-image: url("./services.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #2d4179;
  border-radius: 0 0 15px 15px;
  position: fixed;
  top: 0;
  z-index: 99;
  filter: drop-shadow(0 6mm 4mm rgba(0, 0, 0, 0.15));
}

.services-card {
  margin-top: 36.5vh;
  position: relative;
  padding: 24px;
  height: 250px;
  background-color: #271c52;
  border-radius: 15px;
}

.services-card-header {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto 0 auto;
}

